@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
--darkbackground : #020817;
--darkforeground : #ffffff;
--darkcard-bg: #1e292b;
--darkaccent: #9333ea;
--darknavbar-bg: #e2e8f0;

--lightbackground: #ffffff;
--lightforeground: #1e293b;
--lightcard-bg: #f1f5f9;
--lightaccent: #7c3aed;
--lightnavbar-bg: #e2e8f0;
    
  

}
